.profile {
  border-radius: 10px;
  border: solid 1px black;
  text-align: center;
  width: 220px;
  overflow: hidden;
  padding-top: 16px;
  margin-bottom: 60px;
  margin-left: auto;
  margin-right: auto;
}

.profileInfo {
  display: flex;
  align-items: center;
  flex-direction: column;
}

.avatar {
  background-color: #242424;
  border-radius: 50%;
  width: 110px;
  margin-bottom: 22px;
}

.userName {
  font-size: 22px;
  color: #000000;
  font-weight: 700;
}

.userTag {
  color: #9e9e9e;
  font-size: 16px;
}

.userLocation {
  color: #9e9e9e;
  font-size: 16px;
}

.profileStatus {
  display: flex;
  justify-content: space-around;
  background-color: #e4e4e4;
}

.profileStatusItem {
  display: flex;
  flex-direction: column;
  align-items: center;
  border: solid 1px #c4c4c4;
  flex: 1;
}

.profileStatusItem:first-child {
  border-left: none;
  border-right: none;
}

.profileStatusItem:last-child {
  border-left: none;
  border-right: none;
}

.statusTitle {
  color: #000000;
  font-size: 16px;
}

.statusValue {
  color: #000000;
  font-size: 16px;
  font-weight: 700;
}
