.table {
  width: 100%;
  border-collapse: collapse;
  text-align: center;
}
.title {
  background-color: black;
  color: white;
  font-weight: bold;
}
.title th {
  padding: 10px;
  border: 1px solid black;
}

.item tr {
  border: 1px solid black;
}
.item tr:nth-child(even) {
  background-color: #d3d3d3;
}
.item td {
  border: 1px solid black;
}
